<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!DOCTYPE html>
{% load static %}
<html lang="zxx">

<head>
    <title>Service login form Responsive Widget Template : W3Layouts</title>

    <!-- Meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Google fonts -->
    <link href="//fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap" rel="stylesheet">

    <!-- CSS Stylesheet -->
    <link rel="stylesheet" href="{% static 'css-login/style.css' %}" type="text/css" media="all" />

</head>

<body>
<li><a href="profile2">back</a></li>
    <div class="signinform">
        <h1> Change password</h1>
        <!-- container -->
        <div class="container">
            <!-- main content -->
            <div class="w3l-form-info">
               <div class="box loginBox">
<!--				<h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Change Password</h3>-->

				<form class="form" action="chpassword" method="post">
					 {% csrf_token %}
					<div class="f_row-2">
						<input type="text" class="input-field" placeholder="Username" name="n" required>
					</div>
					<div class="f_row-2 last">
						<input type="password" name="n1" placeholder="Old Password" class="input-field" required>
					</div>
					<div class="f_row-2 last">
						<input type="password" name="n2" placeholder="New Password" class="input-field" required>
					</div>
					<input class="submit-w3" type="submit" class="btn btn-defeault btn-send"  onclick="return confirm('Are You Sure')" value="Change">
				</form>
			</div>

<!--                        <div class="form-row bottom">-->
<!--&lt;!&ndash;                            <div class="form-check">&ndash;&gt;-->
<!--&lt;!&ndash;                                <input type="checkbox" id="remenber" name="remenber" value="remenber">&ndash;&gt;-->
<!--&lt;!&ndash;                                <label for="remenber"> Remember me?</label>&ndash;&gt;-->
<!--&lt;!&ndash;                            </div>&ndash;&gt;-->
<!--                            <a href="forgot" class="forgot">Forgot password?</a>-->
<!--                        </div>-->
<!--                        <button class="btn btn-defeault btn-send"  onclick="return confirm('Are You Sure')" value="Change" type="submit">change</button>-->
                    </form>
<!--                    <p class="continue"><span>or Login with</span></p>-->
<!--                    <div class="social-login">-->
<!--                        <a href="#facebook">-->
<!--                            <div class="facebook">-->
<!--                                <span class="fab fa-facebook-f" aria-hidden="true"></span>-->

<!--                            </div>-->
<!--                        </a>-->
<!--                        <a href="#twitter">-->
<!--                            <div class="twitter">-->
<!--                                <span class="fab fa-twitter" aria-hidden="true"></span>-->
<!--                            </div>-->
<!--                        </a>-->
<!--                        <a href="#google">-->
<!--                            <div class="google">-->
<!--                                <span class="fab fa-google" aria-hidden="true"></span>-->
<!--                            </div>-->
<!--                        </a>-->
<!--                    </div>-->
<!--                    <p class="account">Are you a user <a href="user_reg">Sign up</a></p>-->
<!--                <p class="account">Are you a Anchor <a href="emp_reg">Sign up</a></p>-->
<!--                </div>-->
            </div>
            <!-- //main content -->
        </div>
        <!-- //container -->
        <!-- footer -->
<!--        <div class="footer">-->
<!--            <p>&copy; 2020 Service login form. All Rights Reserved | Design by <a href="https://w3layouts.com/"-->
<!--                    target="blank">W3layouts</a></p>-->
<!--        </div>-->
        <!-- footer -->
    </div>

    <!-- fontawesome v5-->
    <script src="{% static 'js-login/fontawesome.js' %}"></script>

</body>

</html>