<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!DOCTYPE html>
{% load static %}
<html lang="zxx">

<head>
    <title>Service login form Responsive Widget Template : W3Layouts</title>

    <!-- Meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Google fonts -->
    <link href="//fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap" rel="stylesheet">

    <!-- CSS Stylesheet -->
    <link rel="stylesheet" href="{% static 'css-login/style.css' %}" type="text/css" media="all" />

</head>

<body>
    <div class="signinform">
        <h1> Change password</h1>
        <!-- container -->
        <div class="container">
            <!-- main content -->
            <div class="w3l-form-info">
                <div class="w3_info">
                    <h2>Change password</h2>
                    <form action="forget_pwd" method="post">
			{% csrf_token %}
			<div class="form-info">
				<h2>Sign-in</h2>
			</div>
			<div class="email-w3l">
				<input type="text" name="uname" placeholder="Username" required="">
			</div>
			<div class="pass-w3l">
			<!---728x90--->
				<input type="password" name="pwd" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" placeholder="Password" required="">
			</div>
			<div class="pass-w3l">
			<!---728x90--->
				<input type="password" name="con_pwd" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" placeholder="Confirm Password" required="">
			</div>
				<div class="clear"></div>
			<div class="submit-agileits">
				<button type="submit">SUBMIT</button>
			</div>
		</form>
<!--                    <p class="continue"><span>or Login with</span></p>-->
<!--                    <div class="social-login">-->
<!--                        <a href="#facebook">-->
<!--                            <div class="facebook">-->
<!--                                <span class="fab fa-facebook-f" aria-hidden="true"></span>-->

<!--                            </div>-->
<!--                        </a>-->
<!--                        <a href="#twitter">-->
<!--                            <div class="twitter">-->
<!--                                <span class="fab fa-twitter" aria-hidden="true"></span>-->
<!--                            </div>-->
<!--                        </a>-->
<!--                        <a href="#google">-->
<!--                            <div class="google">-->
<!--                                <span class="fab fa-google" aria-hidden="true"></span>-->
<!--                            </div>-->
<!--                        </a>-->
                    </div>
                    <p class="account">Are you a user <a href="user_reg">Sign up</a></p>
                <p class="account">Are you a Anchor <a href="emp_reg">Sign up</a></p>
                </div>
            </div>
            <!-- //main content -->
        </div>
        <!-- //container -->
        <!-- footer -->
        <div class="footer">
            <p>&copy; 2020 Service login form. All Rights Reserved | Design by <a href="https://w3layouts.com/"
                    target="blank">W3layouts</a></p>
        </div>
        <!-- footer -->
    </div>

    <!-- fontawesome v5-->
    <script src="{% static 'js-login/fontawesome.js' %}"></script>

</body>

</html>